# 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
os.listdir('./data')

['공공자전거 대여소 정보(21.12월 기준).csv',
 '공공자전거 대여소별 이용정보_201812_201905.xlsx',
 '공공자전거 대여소별 이용정보_201906_201911.xlsx',
 '공공자전거 이용정보(월별)_19.12.csv',
 '대여소별 대여정보_201807_11.xlsx',
 '서울시 따릉이대여소 마스터 정보.csv']

# 데이터 불러오기

In [13]:
df= pd.read_excel('./data/대여소별 대여정보_201807_11.xlsx')
df.head()

     대여일자  대여소번호              대여소명  대여건수  반납건수
0  201806    101  101. (구)합정동 주민센터   832   807
1  201806    102   102. 망원역 1번출구 앞  2819  2568
2  201806    103   103. 망원역 2번출구 앞  1977  1769
3  201806    104   104. 합정역 1번출구 앞  1682  1610
4  201806    105   105. 합정역 5번출구 앞  1105   925

In [16]:
tmp=df[["대여일자"]].copy()
tmp

        대여일자
0     201806
1     201806
2     201806
3     201806
4     201806
...      ...
8033  201811
8034  201811
8035  201811
8036  201811
8037  201811

[8038 rows x 1 columns]

In [20]:
tmp["년도"]=df.대여일자.map(lambda x: str(x)[:4])
tmp["월"]=df.대여일자.map(lambda x: str(x)[:4])

In [21]:
tmp.head()

     대여일자    년도   월
0  201806  2018  06
1  201806  2018  06
2  201806  2018  06
3  201806  2018  06
4  201806  2018  06

In [35]:
df=pd.concat([tmp.iloc[:,1:],df.iloc[:,1:]],axis=1)
df.head()

     년도   월  대여소번호              대여소명  대여건수  반납건수
0  2018  06    101  101. (구)합정동 주민센터   832   807
1  2018  06    102   102. 망원역 1번출구 앞  2819  2568
2  2018  06    103   103. 망원역 2번출구 앞  1977  1769
3  2018  06    104   104. 합정역 1번출구 앞  1682  1610
4  2018  06    105   105. 합정역 5번출구 앞  1105   925

In [38]:
df.대여소명= df.대여소명.map(lambda x: x.split('.')[1])

In [41]:
df.columns= ['년도', '월', '대여소번호', '대여소명', '대여', '반납']

In [42]:
df.head()

     년도   월  대여소번호          대여소명    대여    반납
0  2018  06    101   (구)합정동 주민센터   832   807
1  2018  06    102    망원역 1번출구 앞  2819  2568
2  2018  06    103    망원역 2번출구 앞  1977  1769
3  2018  06    104    합정역 1번출구 앞  1682  1610
4  2018  06    105    합정역 5번출구 앞  1105   925

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8038 entries, 0 to 8037
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      8038 non-null   object
 1   월       8038 non-null   object
 2   대여소번호   8038 non-null   int64
 3   대여소명    8038 non-null   object
 4   대여      8038 non-null   int64
 5   반납      8038 non-null   int64
dtypes: int64(3), object(3)
memory usage: 376.9+ KB

In [46]:
os.listdir('./전처리 완료/17-21년_대여소별 이용정보/')

['공공자전거 대여소 정보(21.12월 기준).csv',
 '따릉이 17년 ~ 18년 6월 .ipynb',
 '서울특별시 공공자전거 대여소별 이용정보(월간)_2017_1_12.csv',
 '서울특별시 공공자전거 대여소별 이용정보(월간)_2018_1_6.csv']

In [47]:
df.to_csv('./전처리 완료/17-21년_대여소별 이용정보/최종_공공자전거 대여소별 이용정보_201912_202005.csv')

In [48]:
os.listdir('./전처리 완료/17-21년_대여소별 이용정보/')

['공공자전거 대여소 정보(21.12월 기준).csv',
 '따릉이 17년 ~ 18년 6월 .ipynb',
 '서울특별시 공공자전거 대여소별 이용정보(월간)_2017_1_12.csv',
 '서울특별시 공공자전거 대여소별 이용정보(월간)_2018_1_6.csv',
 '최종_공공자전거 대여소별 이용정보_201912_202005.csv']

In [34]:
pd.read_excel('./data/공공자전거 대여소별 이용정보_201912_202005.csv')

      대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수
0        강남구                2301. 현대고등학교 건너편     201912    501
1        강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     201912    737
2        강남구                  2303. 논현역 7번출구     201912    460
3        강남구         2304. 신영 ROYAL PALACE 앞     201912    150
4        강남구              2305. MCM 본사 직영점 앞     201912    257
...      ...                             ...        ...    ...
9998     중랑구                 1455. 상봉역 2번 출구     202005   1802
9999     중랑구            1456. 상아빌딩(우림시장 교차로)     202005   1113
10000    중랑구                     1457. 동원사거리     202005    883
10001    중랑구                    1458. 상봉터미널2     202005   2128
10002    중랑구                1459. 용마한신아파트사거리     202005    432

[10003 rows x 4 columns]