# 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
import warnings
warnings.filterwarnings("ignore")

# 폴더/파일 살펴보고 지정하기

## 메인

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'main.ipynb',
 '서울특별시 공공자전거 이용정보(시간대별)_2019년',
 '서울특별시 공공자전거 이용정보(시간대별)_2020년',
 '서울특별시 공공자전거 이용정보(시간대별)_2021년']

In [4]:
folder=os.listdir()[2:]
folder

['서울특별시 공공자전거 이용정보(시간대별)_2019년',
 '서울특별시 공공자전거 이용정보(시간대별)_2020년',
 '서울특별시 공공자전거 이용정보(시간대별)_2021년']

## 2019

In [5]:
folder_2019= os.listdir(folder[0])
folder_2019

['서울특별시 공공자전거 이용정보(시간대별)_19.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.03.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.04.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.05.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.06.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.07.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.08.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.09.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.10.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.11.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.12.csv']

In [6]:
files_2019= folder_2019[:3]
files_2019

['서울특별시 공공자전거 이용정보(시간대별)_19.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_19.03.csv']

## 2020

In [7]:
folder_2020= os.listdir(folder[1])
folder_2020

['서울특별시 공공자전거 이용정보(시간대별)_20.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.03.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.04.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.05.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.06.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.07.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.08.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.09.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.10.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.11.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.12.csv']

In [8]:
files_2020= folder_2020[:3]
files_2020

['서울특별시 공공자전거 이용정보(시간대별)_20.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_20.03.csv']

## 2021

In [9]:
folder_2021= os.listdir(folder[2])
folder_2021

['서울특별시 공공자전거 이용정보(시간대별)_21.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.03.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.04.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.05.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.06.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.07.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.08.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.09.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.10.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.11.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.12.csv']

In [10]:
files_2021= folder_2021[:3]
files_2021

['서울특별시 공공자전거 이용정보(시간대별)_21.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.03.csv']

# 파일 불러오기

## 2019 통합

In [11]:
folder[0]+'/'+files_2019[0]

'서울특별시 공공자전거 이용정보(시간대별)_2019년/서울특별시 공공자전거 이용정보(시간대별)_19.01.csv'

In [22]:
df_2019= pd.concat([pd.read_csv(folder[0]+'/'+files_2019[0]),
                    pd.read_csv(folder[0]+'/'+files_2019[1]),
                    pd.read_csv(folder[0]+'/'+files_2019[2])],
                   axis=0)

df_2019

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
532330,2019-03-31,23,103,103. 망원역 2번출구 앞,일일권,M,30대,1,91.59,0.6,2570.0,16
532331,2019-03-31,23,1140,1140. 목동사거리 버스정류장,일일권,M,30대,1,101.25,0.87,3760.0,34
532332,2019-03-31,23,2119,2119. 중앙동 동진빌딩,일일권,M,30대,1,179.09,1.4,6030.0,39
532333,2019-03-31,23,638,638. 서울시립대 정보기술관,단체권,NaN,20대,5,351.06,2.74,11820.0,271
532334,2019-03-31,23,2102,2102. 봉림교 교통섬,단체권,NaN,20대,2,63.06,0.57,2450.0,14

In [82]:
df_2019 = df_2019.reset_index(drop=True)
df_2019.tail()

               대여일자  대여시간  대여소번호               대여소명 대여구분코드 연령대코드  이용건수
2603150  2020-03-31    23    232  232. 양평우림 이비즈센타 앞    단체권   50대     1
2603151  2020-03-31    23   1856        1856. 모두의학교    단체권   20대     2
2603152  2020-03-31    23    539        539. 군자교교차로    단체권   20대     2
2603153  2020-03-31    23    232  232. 양평우림 이비즈센타 앞    단체권   20대     1
2603154  2020-03-31    23    817   817. 삼각지역 4번출구 앞    단체권   20대     2

In [84]:
df_2019.to_csv("2019_시간별_이용정보.csv", encoding="cp949")

## 2020 통합

In [13]:
df_2020= pd.concat([pd.read_csv(folder[1]+'/'+files_2020[0]),
                    pd.read_csv(folder[1]+'/'+files_2020[1]),
                    pd.read_csv(folder[1]+'/'+files_2020[2])],
                   axis=0)

df_2020

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2020-01-01,0,1044,1044. 굽은다리역,정기권,NaN,~10대,1,33.96,0.30,1280.0,6
1,2020-01-01,0,1656,1656. 중앙하이츠 아파트 입구,정기권,NaN,~10대,1,40.15,0.39,1690.0,6
2,2020-01-01,0,1337,1337. 돈암성당 옆,정기권,NaN,~10대,1,80.88,0.50,2150.0,12
3,2020-01-01,0,1984,1984. 구로구청,정기권,NaN,~10대,1,47.36,0.43,1840.0,25
4,2020-01-01,0,2601,2601. 석촌호수 서호사거리,정기권,NaN,~10대,1,29.34,0.26,1140.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1222517,2020-03-31,23,232,232. 양평우림 이비즈센타 앞,단체권,NaN,50대,1,346.72,3.13,13470.0,64
1222518,2020-03-31,23,1856,1856. 모두의학교,단체권,F,20대,2,88.70,1.04,4480.0,32
1222519,2020-03-31,23,539,539. 군자교교차로,단체권,F,20대,2,1834.49,16.54,71270.0,107
1222520,2020-03-31,23,232,232. 양평우림 이비즈센타 앞,단체권,F,20대,1,0.00,0.00,0.0,12
1222521,2020-03-31,23,817,817. 삼각지역 4번출구 앞,단체권,M,20대,2,501.41,4.52,19480.0,104

In [83]:
df_2020 = df_2020.reset_index(drop=True)
df_2020.tail()

               대여일자  대여시간  대여소번호               대여소명 대여구분코드 연령대코드  이용건수
2603150  2020-03-31    23    232  232. 양평우림 이비즈센타 앞    단체권   50대     1
2603151  2020-03-31    23   1856        1856. 모두의학교    단체권   20대     2
2603152  2020-03-31    23    539        539. 군자교교차로    단체권   20대     2
2603153  2020-03-31    23    232  232. 양평우림 이비즈센타 앞    단체권   20대     1
2603154  2020-03-31    23    817   817. 삼각지역 4번출구 앞    단체권   20대     2

In [85]:
df_2020.to_csv("2020_시간별_이용정보.csv", encoding="cp949")

## 2021 통합

In [14]:
os.listdir(folder[2])

['서울특별시 공공자전거 이용정보(시간대별)_21.01.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.02.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.03.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.04.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.05.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.06.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.07.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.08.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.09.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.10.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.11.csv',
 '서울특별시 공공자전거 이용정보(시간대별)_21.12.csv']

In [91]:
pd.read_csv(folder[2]+'/'+files_2021[0], encoding="cp949").대여구분코드.unique()

array(['정기권', '일일권', '단체권', '일일권(비회원)'], dtype=object)

In [93]:
pd.read_csv(folder[2]+'/'+files_2021[2]).대여구분코드.unique()

array(['정기권', '일일권', '단체권', '?ㅁ瘦?,",20대"', 'F', '일일권(비회원)', '정기??,F"',
       nan, '?ㅁ瘦?,",40대"', 'M', '정?瘦?,F"', '정?瘦?,",40대"', '?舅歐?,F"',
       '정?瘦?,",20대"', '정기??,",20대"', '?舅歐?,M"', '일?歐?,F"', '?ㅁ瘦?,M"',
       '정?瘦?,",30대"', '정기??,M"', '정?瘦?,M"'], dtype=object)

In [87]:
pd.read_csv(folder[2]+'/'+files_2021[1]).대여구분코드.unique()

array(['정기권', '일일권', '단체권', '정?瘦?,F"', '?ㅁ瘦?,F"', nan, 'F', '정?瘦?,",50대"',
       '정기??,",20대"', 'M', '일일권(비회원)', '일?歐?,F"', '정기??,F"', '일일??,M"',
       '정?瘦?,M"'], dtype=object)

In [17]:
df_2021= pd.concat([pd.read_csv(folder[2]+'/'+files_2021[0],encoding="cp949"),
                    pd.read_csv(folder[2]+'/'+files_2021[1]),
                    pd.read_csv(folder[2]+'/'+files_2021[2])],
                   axis=0)

df_2021

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13.0
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10.0
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.00,7.0
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14.0
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1794265,2021-03-31,23,576,576. 광나루역 3번 출구,정기권,M,60대,1.0,100.98,0.79,3400.00,30.0
1794266,2021-03-31,23,2223,2223. 방배래미안 정문 앞,정기권,M,60대,1.0,30.50,0.31,1351.21,8.0
1794267,2021-03-31,23,2301,2301. 현대고등학교 건너편,정기권,M,60대,1.0,140.32,1.26,5451.41,97.0
1794268,2021-03-31,23,2656,2656.풍납동 아이파크 107동 앞,정기권,M,70대~,1.0,46.06,0.39,1685.61,10.0
1794269,2021-03-31,23,3784,3784. 벽산아파트,정기권,M,70대~,1.0,91.29,0.89,3842.22,86.0

In [57]:
df_2021 = df_2021.reset_index(drop=True)
df_2021.tail()

               대여일자  대여시간  대여소번호                  대여소명 대여구분코드 연령대코드 이용건수
3621774  2021-03-31    23    576       576. 광나루역 3번 출구    정기권   60대  1.0
3621775  2021-03-31    23   2223      2223. 방배래미안 정문 앞    정기권   60대  1.0
3621776  2021-03-31    23   2301      2301. 현대고등학교 건너편    정기권   60대  1.0
3621777  2021-03-31    23   2656  2656.풍납동 아이파크 107동 앞    정기권  70대~  1.0
3621778  2021-03-31    23   3784           3784. 벽산아파트    정기권  70대~  1.0

In [86]:
df_2021.to_csv("2021_시간별_이용정보.csv", encoding="cp949")

# 전처리하기

## 필요없는 feature 제거

In [18]:
# 현재 열 확인하기
print(df_2019.columns)
print(df_2020.columns)
print(df_2021.columns)

Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량',
       '탄소량', '이동거리', '사용시간'],
      dtype='object')
Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량',
       '탄소량', '이동거리', '사용시간'],
      dtype='object')
Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량',
       '탄소량', '이동거리', '사용시간'],
      dtype='object')

In [23]:
# 성별, 운동량, 탄소량, 이동거리, 사용시간 제거
df_2019.drop(columns=['성별','운동량','탄소량', '이동거리', '사용시간'], inplace=True)
df_2020.drop(columns=['성별','운동량','탄소량', '이동거리', '사용시간'], inplace=True)
df_2021.drop(columns=['성별','운동량','탄소량', '이동거리', '사용시간'], inplace=True)

In [24]:
# 삭제되었나 확인
print(df_2019.columns)
print(df_2020.columns)
print(df_2021.columns)

Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '연령대코드', '이용건수'], dtype='object')
Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '연령대코드', '이용건수'], dtype='object')
Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '연령대코드', '이용건수'], dtype='object')

## 대여소번호에 대여소명으로 들어가 있는 것 확인

In [45]:
#2019년
df_2019.대여소번호.sort_values()[-10:]

192762    99999
94507     99999
393764    99999
387591    99999
4689      99999
225634    99999
27275     99999
225828    99999
105091    99999
265631    99999
Name: 대여소번호, dtype: int64

In [46]:
#2020년
df_2020.대여소번호.sort_values()[-10:]

474389    99999
590500    99999
391113    99999
546781    99999
964203    99999
87318     99999
319709    99999
156349    99999
445752    99999
329121    99999
Name: 대여소번호, dtype: int64

In [47]:
#2021년
df_2021.대여소번호.sort_values()[-10:]

1015478     9999
476883      9999
310805      9999
650529      9999
1522337     9999
310304      9999
1401492     9999
378718      9999
566703      9999
14389      99999
Name: 대여소번호, dtype: int64

## 대여소명 정리

In [77]:
tmp19= df_2019[['대여소번호','대여소명']].copy()
tmp19.head()

   대여소번호                대여소명
0   1044         1044. 굽은다리역
1   1656  1656. 중앙하이츠 아파트 입구
2   1337        1337. 돈암성당 옆
3   1984          1984. 구로구청
4   2601    2601. 석촌호수 서호사거리

In [69]:
def split_name(x):
    try:
        return x.split(".")[1]
    except:
        return np.nan

In [78]:
tmp19.대여소번호[0]

1044

In [81]:
for i in range(len(tmp19)):
    if (str(tmp19.대여소번호[i])+".") in tmp19.대여소명[i]:
        tmp19.대여소명[i]= tmp19.대여소명[i].split('.')[1]
    else:
        print(i)

KeyboardInterrupt:

## 대여일자 년/월/일 분리

## 결측값 처리